.podlove-web-player--custom {
  .section-label {
    font-size: 1.5em;
    font-weight: bold;
  }

  .input-label {
    display: inline-block;
    width: 100px;
  }

  .input-control {
    width: 300px;
  }
}
