@import './variables';

.label {
  display: block;
  margin-bottom: $spacing / 2;
}

.el-checkbox.block-checkbox {
  display: block;
  margin-left: 0;
}

.btn-full-width {
  display: block;
  width: 100%;
}
