.podlove-web-player-block {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
    'Droid Sans', 'Helvetica Neue', sans-serif;
  background: rgba(33, 33, 33, 0.1);
  border-radius: 4px;

  .block-wrapper {
    padding: 1em;
  }

  .source-selector {
    display: flex;
    align-items: center;
    justify-content: center;

    .data-source {
      margin: 1em;
      padding: 1em;
      width: 200px;
      display: block;
      background: transparent;
      border-radius: 4px;
      background: white;
      color: rgb(33, 33, 33);

      .data-source-icon {
        display: block;
      }

      .data-source-label {
        font-size: 0.8em;
        font-weight: 300;
      }
    }
  }

  .block-footer {
    margin-top: -1em;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    padding: 0 0.5em 0.25em 0.5em;

    .brand {
      display: block;
      font-size: 0.6em;
      color: rgba(33, 33, 33, 0.5);
      font-weight: 300;
    }
  }
}
