.podlove-web-player--row {
  input {
    display: block;
    width: 100%;
    height: 16px;
  }

  .components-base-control {
    width: 100%;
    margin-bottom: 0 !important;
  }

  .upload-button {
    margin-top: 20px;
  }
}
